:root {
  --logo-blue-color: #4d5ae5;
  --logo-buttons-sectionfour-index-background: #e7e9fc;
  --text-site-color: #2e2f42;
  --logo-titles-color: #2e2f42;
  --background-page-color: #fff;
  --adress-text-color: #434455;
  --brand-color-ocean: #404bbf;
  --SLATE: #434455;
  --OCEAN: #404bbf;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffffff;
  --CORNFLOEWR: #e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}

/*Setting up the font for the entire page*/
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-page-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.span-class {
  color: var(--text-site-color);
}

.list-link :hover,
.list-link :focus {
  color: var(--OCEAN);
}

 {
  color: #404bbf;
}

.list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-site-color);
  text-decoration: none;
}

.list-link link {
  text-decoration: none;
}

/*adress section*/
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

.contact-link :hover,
.contact-link :focus {
  color: var(--OCEAN);
}

.footer {
  background-color: var(--logo-titles-color);
}
