:root {
  --logo-blue-color: #4d5ae5;
  --logo-buttons-sectionfour-index-background: #e7e9fc;
  --text-site-color: #2e2f42;
  --logo-titles-color: #2e2f42;
  --background-page-color: #fff;
  --adress-text-color: #434455;
  --brand-color-ocean: #404bbf;
  --light-color: #f4f4fd;
  --logo-coloe: #f4f4f4f4;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}

/*Setting up the font for the entire page*/

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-page-color);
}
/*Navigation*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.span-class {
  color: var(--text-site-color);
}

.list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-text-color);
}

.list-link {
  color: var(--logo-titles-color);
  text-decoration: none;
}

.list-link:hover {
  color: #404bbf;
}
.list-link:focus {
  color: #404bbf;
}

/*adress section*/
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

.contact-link :hover,
.contact-link :focus {
  color: #434455;
  background-color: #434455;
}

.footer {
  background-color: var(--logo-titles-color);
}

/*Main section index html*/

.hero {
  background-color: var(--logo-titles-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*section 2*/

.title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.index {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*section 3*/

.what-are-we-doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-titles-color);
}

/*section 4*/

.our-team {
  background-color: #f4f4fd;
}

.title-our-team {
  background-color: #fff;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-titles-color);
}

.name {
  background-color: #fff;
}

/*portfolio main section*/

/*buttons*/

.button-list {
  list-style: none;
}

.navi-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-blue-color);
  background-color: var(--light-color);
  cursor: pointer;
}

.navi-menu:hover,
.navi-menu:focus {
  color: #fff;
  background-color: #404bbf;
}
